/* Base styles */
body {
    color: #3d3d3d;
    font-family: Arial;
    font-size: 15px;
    background-color: #efefef;

    .wrapper {
        width: 1070px;
        margin: 0 auto;
    }

    p {
        margin: 0;
    }
}
